<template>
    <div class="row">
        <a class="anchor" name="About"></a>	
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--creative">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light"><span class="display-4">About</span></h3>
                            <p class="m-portlet__head-text m--font-light display-6"><small>Can improve the amount of context and information they provide to visitors.</small></p>
                            <h3 class="m-portlet__head-label" v-if="global.about_totalscore" :class="'m-portlet__head-label--' + range(global.about_totalscore).class">
                                <span class="display-3">{{global.about_totalscore}}%</span>
                            </h3>
                        </div>	
                    </div>											
                </div>
                <div class="m-portlet__body  m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">			
                        <div class="col-xl-8">
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Story/Description</h3>
                                            <span class="m-widget1__desc"></span>
                                        </div>
                                        <div class="col m--align-right" v-html="provided(global.about_description)"></div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Opening Hours</h3>
                                            <span class="m-widget1__desc">Opening hours are important to let your clients know when to visit your store and check in.</span>
                                        </div>
                                        <div class="col m--align-right" v-html="provided(global.about_hours)"></div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Contact Information</h3>
                                            <span class="m-widget1__desc">Contact information is very important as it allows users to get in touch with the page or easily find a way to get more information.
                                            </span>
                                            <div class="m-demo-icon">
                                                <div class="m-demo-icon__preview">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <div class="m-demo-icon__class">{{global.about_phone_value}}</div>
                                            </div>
                                            <div class="m-demo-icon">
                                                <div class="m-demo-icon__preview">
                                                    <i class="fa fa-globe"></i>
                                                </div>
                                                <div class="m-demo-icon__class">{{global.about_website_value}}</div>
                                            </div>
                                            <div class="m-demo-icon">
                                                <div class="m-demo-icon__preview">
                                                    <i class="socicon-mail"></i>
                                                </div>
                                                <div class="m-demo-icon__class">{{global.about_email_value}}</div>
                                            </div>
                                        </div>
                                        <div class="col m--align-right">
                                            <span class="m-widget1__number">{{contactMsg()}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Location</h3>			
                                            <span class="m-widget1__desc">2491-2501 Notre-Dame West, Montreal, QC, Canada</span>
                                        </div>
                                        <div class="col m--align-right" v-html="provided(global.about_address)"></div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <img src="https://cdn.staticmap.yellowpages.ca/staticmap.php?center=45.4830642,-73.5759534,19&zoom=18&size=365x365" width="100%"/>
                                        </div>														
                                    </div>
                                </div>		
                            </div>
                        </div>										
                    </div>
                </div>
            </div>
        </div>
    </div>	
</template>
<script>
    import Api from "../../services/api.ts";
    import Ranges from "../../mixins/ranges.ts";
    export default {
        mixins: [Ranges],
        created() {
            this.getData();
        },
        data: () => ({
            global: []
        }),
        computed: {
            },
        methods: {
            provided(value) {
                if(value > 0) {
                    return '<span class="m-widget1__number m--font-success">Provided</span>';
                } else {
                    return '<span class="m-widget1__number m--font-warning">Not Provided</span>';
                }

            },
            getData() {
                Api.getData().then((response) => {
                    this.global= response.data;
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            },            
            showMsg(value) {    
                if (0 < value && value < 25) {
                    return 'This is BAD return'
                }
                else if (25 <= value && value < 50) {
                    return 'This is WARNING return'
                }
                else if (50 <= value && value < 75) {
                    return 'This is GOOD return'
                }
                return 'This is DEFAULT return'
            },
            contactMsg() {    
                if (global.about_phone > 0 && global.about_website > 0 && global.about_email > 0 ) {
                    return 'Provided';
                    console.log(this.global.about_phone)
                }
                else if (global.about_phone > 0 || global.about_website > 0 || global.about_email > 0 ) {
                    return 'Partial'
                }
                else if (global.about_phone == 0 && global.about_website == 0 && global.about_email == 0 ) {
                    return 'Not Provided'
                }
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" >
    .fp__items {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        position: relative;
        margin-top: -3.87rem;
        padding: 0 0.35rem;
        margin-bottom: 0.71rem;
        @media screen and (min-width: 801px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    .fp__item {
        background-color:#fff;
        padding: 20px;
        height: 100%;
        box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.06);
    }
    .m-widget17__subtitle {
        margin-top: 20px;
        display: block;
    }
</style>