<template>
    <div v-if="card.length !== 0"  class="m-portlet m-portlet--unair">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <div class="twPc-div">
                    <a class="twPc-bg twPc-block" :style="{ 'background-image': 'url(' + card.cover_url + ')' }" ></a>
                    <div>
                        <a title="Joe Beef - Liverpool House" :href="'https://www.facebook.com/' + card.fb_name" class="twPc-avatarLink">
                            <img :alt="card.name" :src="'//graph.facebook.com/' + card.fbid + '/picture?type=large'" class="twPc-avatarImg">
                        </a>
                        <div class="twPc-divUser">
                            <div class="twPc-divName">
                                <a :href="'https://www.facebook.com/' + card.fb_name">{{ card.name }}</a>
                            </div>
                            <span>
                                <a href="#"><span>{{ card.merchant_cat }}</span></a>
                            </span>
                        </div>

                        <div class="twPc-divStats">
                            <ul class="twPc-Arrange">												
                                <li class="twPc-ArrangeSizeFit">
                                    <span class="twPc-StatLabel twPc-block">Likes</span>
                                    <span class="twPc-StatValue">{{ card.engagement_totallikes }}</span>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <span class="twPc-StatLabel twPc-block">Changes (last week)</span>
                                    <span class="twPc-StatValue">{{ card.engagement_likeschanges }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3"></div>
            </div>
        </div>	
    </div>
</template>

<script>
    import Api from "../../services/api.ts";
    export default {
        created() {
            this.getData();
        },
        data: () => ({
            card: []
        }),
        methods: {
            getData() {
                Api.getData().then((response) => {
                    this.card= response.data;
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>