<template>
    <div class="row">
        <a class="anchor" name="Frontpage"></a>	
        <div class="col-xl-12">			
            <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light m-portlet--creative">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                                <span class="display-4">Frontpage</span>
                            </h3>
                            <p class="m-portlet__head-text m--font-light display-6"><small v-if="global.frontpage_totalscore">{{ showMsg(global.frontpage_totalscore) }}</small></p>
                            <h3 class="m-portlet__head-label display-3" v-if="global.frontpage_totalscore" :class="'m-portlet__head-label--' + range(global.frontpage_totalscore).class">
                                <span class="display-3">{{global.frontpage_totalscore}}%</span>
                            </h3>
                        </div>
                    </div>											
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget17">
                        <div class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides" v-if="global.frontpage_totalscore" :class="'m--bg-' + range(global.frontpage_totalscore).class">
                            <div class="m-widget17__chart coverbg" :style="{backgroundImage: 'url(' + global.cover_url + ')' }" style="height:320px; background-position-x: 50%; background-size: cover; height: 354px; background-position-y: 29%;  background-repeat: no-repeat;"></div>                        
                        </div>
                        <div class="m-widget17__stats">
                            <div class="fp__items">
                                <div class="fp__item" :key="item" v-for="item in frontpage">
                                    <span class="m-widget17__icon" v-html="provided(global[item.score])"></span>
                                    <span class="m-widget17__subtitle">
                                        <h4>{{ item.title }}</h4>
                                    </span>
                                    <span class="m-widget17__desc">
                                        {{ item.description }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>								
        </div>
    </div>
</template>
<script>
    import Api from "../../services/api.ts";
    import Ranges from "../../mixins/ranges.ts";
    export default {
        mixins: [Ranges],
        created() {
            this.getData();
            this.getFrontPage();
        },
        data: () => ({
            global: [],
            frontpage: []
        }),
        computed: {
            },
        methods: {
            provided(value) {
                if(value > 0) {
                    return '<span class="m-badge m-badge--wide m-badge--success">Provided</span>';
                } else {
                    return '<span class="m-badge m-badge--wide m-badge--warning">Not Provided</span>';
                }

            },
            getData() {
                Api.getData().then((response) => {
                    this.global= response.data;
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            },
            getFrontPage() {
                Api.getFrontPage().then((response) => {
                    this.frontpage = response.data.frontpage;
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            },
            showMsg(value) {    
                if (0 < value && value < 25) {
                    return 'This is BAD return'
                }
                else if (25 <= value && value < 50) {
                    return 'This is WARNING return'
                }
                else if (50 <= value && value < 75) {
                    return 'This is GOOD return'
                }
                return 'This is DEFAULT return'
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" >
    .fp__items {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        position: relative;
        margin-top: -3.87rem;
        padding: 0 0.35rem;
        margin-bottom: 0.71rem;
        @media screen and (min-width: 801px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    .fp__item {
        background-color:#fff;
        padding: 20px;
        height: 100%;
        box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.06);
    }
    .m-widget17__subtitle {
        margin-top: 20px;
        display: block;
    }
</style>