<template>
    <div class="w-75 center ba b--black-10 tweet">
        <div class="pv2 tc bb b--black-10">
            <h1 class="ma0 f5 normal">Compose New Tweet</h1>
        </div>
        <div class="bg-near-white pa3">
            <textarea placeholder="Write your tweet here" name="tweet" v-model="tweet" rows="3" class="w-100 br2 ba b--black-10 pa2"></textarea>
            <div class="mt3 tr">
                <button :disabled="tweetIsEmpty" class="button-reset bg-blue bn white f6 fw5 pv2 ph3 br2 dim">Tweet</button>
            </div>
        </div>
        <p>The value of <strong>tweet</strong> is: {{tweet}} </p>
        <p>The value of <strong>tweetIsEmpty</strong> is: {{ tweetIsEmpty}}</p>
    </div>
</template>

<script>
    export default {
        data: () => ({
            tweet: ""
        }),
        computed: {
            tweetIsEmpty() {
                return this.tweet.length === 0;
            }
        },
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .tweet {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
    
    .hide {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }
</style>
