<template>
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver	m-container m-container--responsive m-container--xxl m-page__container">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <app-card></app-card>
                <app-overview></app-overview>
                <app-overviewscore></app-overviewscore>
                <app-frontpage></app-frontpage>                
                <app-about></app-about>
            </div>
        </div>
    </div>
</template>


<script>
    import Api from "@/services/api.ts";
    import Card from "@/components/card/Card.vue";
    import Overview from "@/components/overview/Overview.vue";
    import Overviewscore from "@/components/overviewscore/Overviewscore.vue";
    import Frontpage from "@/components/frontpage/Frontpage.vue";
    import About from "@/components/about/About.vue";
    export default {
        components: {
            'app-card': Card,
            'app-overview': Overview,
            'app-overviewscore': Overviewscore,
            'app-frontpage': Frontpage,
            'app-about': About
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss"></style>
