<template>
    <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light m-portlet--creative">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text m--font-light">
                        <span class="display-4">Overview</span>
                    </h3>
                    <p class="m-portlet__head-text m--font-light display-6"><small v-if="overview.overview_totalscore">{{ showMsg(overview.overview_totalscore) }}</small></p>
                    <h3 class="m-portlet__head-label display-3" v-if="overview.overview_totalscore" :class="'m-portlet__head-label--' + range(overview.overview_totalscore).class">
                        <span class="display-3">{{overview.overview_totalscore}}%</span>
                    </h3>
                </div>
            </div>											
        </div>
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding">			
                <div class="col-xl-3"></div>
                <div class="col-xl-6">
                    <div class="m-section">
                        <div class="m-demo">
                            <div class="m-demo__preview">
                                <ul class="lead">
                                    <li>Followers are not able to post content. This obstructs user engagement.</li><!-- ADD COMMENTS -->
                                    <li>Does not like and interact with other Facebook Pages.</li>
                                    <li>Should improve how often they post content.</li>
                                    <li>Does not take advantage of Facebook Events.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3"></div>
            </div>									
        </div>
    </div>
</template>

<script>
    import Api from "../../services/api.ts";
    import Ranges from "../../mixins/ranges.ts";
    export default {
        mixins: [Ranges,],
        created() {
            this.getData();
        },
        data: () => ({
            overview: []
        }),
        mounted() {
        },
        methods: {
            getData() {
                Api.getData().then((response) => {
                    this.overview= response.data;
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            },
            showMsg(value) {    
                if (0 < value && value < 25) {
                    return 'This is BAD return'
                }
                else if (25 <= value && value < 50) {
                    return 'This is WARNING return'
                }
                else if (50 <= value && value < 75) {
                    return 'This is GOOD return'
                }
                return 'This is DEFAULT return'
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>