<template>
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <app-header v-bind:title="title"></app-header>
        <div id="app" class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
            <router-view/>
        </div>
        <app-footer v-bind:title="title"></app-footer>
    </div>
</template>

<script>
    import Header from './components/header/Header.vue';
    import Footer from './components/footer/Footer.vue';
    export default {
        name: 'app',
        components: {
            'app-header': Header,
            'app-footer': Footer
        },
        data () {
            return {
                title: 'SPS'
            }
        },
        methods: {
            updateTitle: function(updatedTitle){
                this.title = updatedTitle;
            }
        }
    }
</script>

<style>
    body {
        font-family: sans-serif;
    }
</style>
