<template>
    <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light m-portlet--creative">
        <div class="m-portlet__body  m-portlet__body--no-padding">	
            <div class="row m-row--no-padding m-row--col-separator-xl">            
                <div class="col-md-12 col-lg-6 col-xl-2" v-for="item in overviewscore">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a :href="item.title">{{ item.title }}</a>
                            </h4>
                            <br>													
                            <span class="m-widget24__stats" :class="'m--font-' + range(global[item.score]).class">{{range(global[item.score]).label}}</span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar" role="progressbar" :style="{width: global[item.score] + '%'}" :class="'m--bg-' + range(global[item.score]).class" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="m-widget24__number">{{global[item.score]}}%</span>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</template>
<script>
    import Api from "../../services/api.ts";
    import Ranges from "../../mixins/ranges.ts";
    export default {
        mixins: [Ranges],
        created() {
            this.getData();
            this.getOverviewScore();
        },
        data: () => ({
            global: [],
            overviewscore: []
        }),
        methods: {
            getData() {
                Api.getData().then((response) => {
                    this.global= response.data;
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            },        
            getOverviewScore() {
                Api.getOverviewScore().then((response) => {
                    this.overviewscore= response.data.overviewscores;
                    console.log(this.overviewscore)
                }).catch((e) => {
                    console.log(e.response.data.message);
                });
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>